.evenote-control-item {
    border-top: 1px solid #cfcfcf;
    margin: 12px 0 0;
    padding-top: 12px
}
.evenote-item {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    box-shadow: 0 -36px 0 #f9f9f9 inset, 0 -37px 0 #dddddd inset, 0 2px 2px rgba(0, 0, 0, 0.06);
    float: left;
    height: 148px;
    margin: 0 6px 6px 0;
    padding: 6px;
    position: relative;
    width: 335px;
}
.evenote-item-edit.page-title-action:active,
.evenote-item-edit.page-title-action {
    bottom: 3px;
    position: absolute;
    right: 3px;
    top: inherit;
}
.evenote-item-remove {
    bottom: 8px;
    color: #cf0000;
    cursor: pointer;
    font-size: 11px;
    left: 8px;
    position: absolute;
}
.evenote-item-remove:hover {
    text-decoration: underline
}
.evenote-item > h4 {
    margin: 0 0 6px;
    padding: 0 0 6px
}
.evenote-item label {
    float: left;
    font-weight: 600;
    width: 65px;
}
.def-row {
    background: #f2f2f2 none repeat scroll 0 0;
    margin: 0 0 6px;
    overflow: hidden;
    padding: 1px 4px 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dis-row {
    border-bottom: 1px solid #dfdfdf;
    color: #8f8f8f;
    font-size: 0.9em;
    font-style: oblique;
    height: 21px;
    margin-bottom: 7px;
    overflow: hidden;
    padding-bottom: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.evenote-section-content .page-title-action {
    margin-top: 8px;
}
.evenote-modal-footer .evenote-control-toggle {
    float: left;
}
.evenote-control-color .wp-picker-holder {
    position: fixed;
}
.evenote-mute {
    color: #7f7f7f;
    padding-left: 9px;
}